PORT=3000
MONGO_URI=mongodb://robertolopez_user:Lopez2003@ac-8xdv4qo-shard-00-00.hstunh3.mongodb.net:27017,ac-8xdv4qo-shard-00-01.hstunh3.mongodb.net:27017,ac-8xdv4qo-shard-00-02.hstunh3.mongodb.net:27017/?ssl=true&replicaSet=atlas-agic4v-shard-0&authSource=admin&appName=Cluster0